/* colors : -

#52ab98
#2b6777;
#c8d8e4;
*/

/* fonts :-

'Exo', sans-serif;
'Pacifico', cursive;
*/

body {
    background-color: #52ab98;
    color: #fff;
    font-family: 'Exo', sans-serif;
}

.header {
    color: #2b6777;
    font-family: 'Pacifico', cursive; 
}

.navOptions {
    color: #2b6777;
    font-size: 1.12rem;
    font-family: 'Exo', sans-serif;
}

@media only screen and (min-width:992px) {
    .navList {
        position: relative;
        left: 72%;
    }
}

textarea {
    resize: none;
    margin: 2% 0%;
}

@media only screen and (max-width:992px) {
    textarea {
        width: 100%;
        padding: 4%;
    }
}

h4 {
    display: inline-block;
    font-weight: bold;
}

.main {
    padding: 20px;
}